In [ ]:
第10章 数据聚合与分组运算

In [88]:
import numpy as np
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
'key2' : ['one', 'two', 'one', 'two', 'one'],
'data1' : np.random.randn(5),
'data2' : np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.068715  1.467538
1    a  two  0.986692  0.683348
2    b  one -0.765740  0.736045
3    b  two -1.106957  0.967465
4    a  one -0.364519  0.250662

In [4]:
grouped = df['data1'].groupby(df['key1'])
grouped

In [ ]:
变量grouped是一个GroupBy对象。它实际上还没有进行任何计算，只是含有一些有
关分组键df['key1']的中间数据而已。换句话说，该对象已经有了接下来对各分组执行
运算所需的一切信息。例如，我们可以调用GroupBy的mean方法来计算分组平均值：

In [6]:
grouped.mean()

key1
a    0.794586
b    0.585617
Name: data1, dtype: float64

In [7]:
means = df['data1'].groupby([df['key1'], df['key2']]).mean()
means

key1  key2
a     one     1.182700
      two     0.018358
b     one     1.027629
      two     0.143605
Name: data1, dtype: float64

In [8]:
means.unstack()

key2       one       two
key1
a     1.182700  0.018358
b     1.027629  0.143605

In [9]:
states = np.array(['Ohio', 'California', 'California', 'Ohio',
'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005    0.018358
            2006    1.027629
Ohio        2005    0.863621
            2006    0.781764
Name: data1, dtype: float64

In [10]:
df.groupby('key1').mean()

         data1     data2
key1
a     0.794586 -0.532186
b     0.585617  0.249812

In [11]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one   1.182700  0.180430
     two   0.018358 -1.957420
b    one   1.027629  0.268851
     two   0.143605  0.230773

In [12]:
df.groupby(['key1', 'key2']).size()

key1  key2
a     one     2
      two     1
b     one     1
      two     1
dtype: int64

In [ ]:
对分组进行迭代

In [14]:
for name, group in df.groupby('key1'):
    print(name)
     print(group)
        a
data1 data2 key1 key2
0 -0.204708 1.393406 a one
1 0.478943 0.092908 a two
4 1.965781 1.246435 a one
b
data1 data2 key1 key2
2 -0.519439 0.281746 b one
3 -0.555730 0.769023 b two
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print((group)
          
          ('a', 'one')
data1 data2 key1 key2
0 -0.204708 1.393406 a one
4 1.965781 1.246435 a one
('a', 'two')
data1 data2 key1 key2
1 0.478943 0.092908 a two
('b', 'one')
data1 data2 key1 key2
2 -0.519439 0.281746 b one
('b', 'two')
data1 data2 key1 key2
3 -0.55573 0.769023 b two

IndentationError: unexpected indent (<ipython-input-14-eec3e615beff>, line 3)

In [16]:
pieces = dict(list(df.groupby('key1')))
pieces['b']

  key1 key2     data1     data2
2    b  one  1.027629  0.268851
3    b  two  0.143605  0.230773

In [17]:
df.dtypes

key1      object
key2      object
data1    float64
data2    float64
dtype: object

In [20]:
grouped = df.groupby(df.dtypes, axis=1)
for dtype, group in grouped:
    print(dtype)
    print(group)

float64
      data1     data2
0  1.583636  0.415576
1  0.018358 -1.957420
2  1.027629  0.268851
3  0.143605  0.230773
4  0.781764 -0.054715
object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one

In [21]:
df.groupby('key1')['data1']
df.groupby('key1')[['data2']]

In [22]:
df['data1'].groupby(df['key1'])
df[['data2']].groupby(df['key1'])

In [23]:
df.groupby(['key1', 'key2'])[['data2']].mean()

              data2
key1 key2
a    one   0.180430
     two  -1.957420
b    one   0.268851
     two   0.230773

In [24]:
s_grouped = df.groupby(['key1', 'key2'])['data2']
s_grouped

In [25]:
s_grouped.mean()

key1  key2
a     one     0.180430
      two    -1.957420
b     one     0.268851
      two     0.230773
Name: data2, dtype: float64

In [26]:
people = pd.DataFrame(np.random.randn(5, 5),
columns=['a', 'b', 'c', 'd', 'e'],
index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people.iloc[2:3, [1, 2]] = np.nan # Add a few NA values
people

               a         b         c         d         e
Joe    -2.431312 -0.912380 -1.592113  0.367883  0.143409
Steve  -0.790280  0.032054  0.018463  1.243042 -0.602789
Wes     0.127014       NaN       NaN  1.137044  1.772308
Jim     1.270599  1.826939 -0.775593  0.159405  1.443466
Travis  1.127271 -0.967847  0.306908  0.988776 -1.715702

In [27]:
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
'd': 'blue', 'e': 'red', 'f' : 'orange'}
by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe    -1.224231 -3.200283
Steve   1.261506 -1.361014
Wes     1.137044  1.899322
Jim    -0.616188  4.541004
Travis  1.295684 -1.556277

In [28]:
map_series = pd.Series(mapping)
map_series

a       red
b       red
c      blue
d      blue
e       red
f    orange
dtype: object

In [29]:
people.groupby(map_series, axis=1).count()

        blue  red
Joe        2    3
Steve      2    3
Wes        1    2
Jim        2    3
Travis     2    3

In [30]:
people.groupby(len).sum()

          a         b         c         d         e
3 -1.033699  0.914559 -2.367707  1.664331  3.359184
5 -0.790280  0.032054  0.018463  1.243042 -0.602789
6  1.127271 -0.967847  0.306908  0.988776 -1.715702

In [31]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -2.431312 -0.912380 -1.592113  0.367883  0.143409
  two  1.270599  1.826939 -0.775593  0.159405  1.443466
5 one -0.790280  0.032054  0.018463  1.243042 -0.602789
6 two  1.127271 -0.967847  0.306908  0.988776 -1.715702

In [34]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP',
'JP'],
[1, 3, 5, 1, 3]],
names=['cty', 'tenor'])
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0      0.400935  0.925977  0.220628  0.641277 -0.042921
1      0.020828 -0.368371 -0.483028  0.534214 -0.339744
2     -0.002094  0.958422  1.375525  1.189104 -0.139476
3     -0.163929  1.187160 -2.225345 -1.011570  0.309768

In [35]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [ ]:
10.2 数据聚合
聚合count
mean
sum
median
sta,var
min,max
prod
first,last

In [36]:
df

  key1 key2     data1     data2
0    a  one  1.583636  0.415576
1    a  two  0.018358 -1.957420
2    b  one  1.027629  0.268851
3    b  two  0.143605  0.230773
4    a  one  0.781764 -0.054715

In [37]:
grouped = df.groupby('key1')
grouped['data1'].quantile(0.9)

key1
a    1.423262
b    0.939227
Name: data1, dtype: float64

In [39]:
def peak_to_peak(arr):return arr.max() - arr.min()
grouped.agg(peak_to_peak)

         data1     data2
key1
a     1.565278  2.372996
b     0.884024  0.038077

In [40]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0  0.794586  0.782718  0.018358  0.400061  0.781764  1.182700
b      2.0  0.585617  0.625100  0.143605  0.364611  0.585617  0.806623

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     1.583636   3.0 -0.532186  1.256488 -1.957420 -1.006068 -0.054715
b     1.027629   2.0  0.249812  0.026925  0.230773  0.240293  0.249812


           75%       max
key1
a     0.180430  0.415576
b     0.259331  0.268851

In [ ]:
笔记：自定义聚合函数要比表10-1中那些经过优化的函数慢得多。这是因为在构造
中间分组数据块时存在非常大的开销（函数调用、数据重排等）。

In [42]:
tips = pd.read_csv('examples/tips.csv')
# Add tip percentage of total bill
tips['tip_pct'] = tips['tip'] / tips['total_bill']
tips[:6]

FileNotFoundError: File b'examples/tips.csv' does not exist

In [43]:
grouped = tips.groupby(['day', 'smoker'])

NameError: name 'tips' is not defined

In [44]:
grouped_pct = grouped['tip_pct']
grouped_pct.agg('mean')

KeyError: 'Column not found: tip_pct'

In [45]:
grouped_pct.agg(['mean', 'std', peak_to_peak])

NameError: name 'grouped_pct' is not defined

In [46]:
grouped_pct.agg([('foo', 'mean'), ('bar', np.std)])

NameError: name 'grouped_pct' is not defined

In [47]:
ftuples = [('Durchschnitt', 'mean'),('Abweichung', np.var)]

In [48]:
grouped['tip_pct', 'total_bill'].agg(ftuples)

KeyError: "Columns not found: 'tip_pct', 'total_bill'"

In [ ]:
以“没有行索引”的形式返回聚合数据

In [ ]:
tips.groupby(['day', 'smoker'], as_index=False).mean()

In [ ]:
10.3 apply：一般性的“拆分－应用－合并”

In [49]:
def top(df, n=5, column='tip_pct'):return df.sort_values(by=column)[-n:]
top(tips,n=6)

NameError: name 'tips' is not defined

In [50]:
result = tips.groupby('smoker')['tip_pct'].describe()
result

NameError: name 'tips' is not defined

In [51]:
f = lambda x: x.describe()
grouped.apply(f)

               data1     data2
key1
a    count  3.000000  3.000000
     mean   0.794586 -0.532186
     std    0.782718  1.256488
     min    0.018358 -1.957420
     25%    0.400061 -1.006068
     50%    0.781764 -0.054715
     75%    1.182700  0.180430
     max    1.583636  0.415576
b    count  2.000000  2.000000
     mean   0.585617  0.249812
     std    0.625100  0.026925
     min    0.143605  0.230773
     25%    0.364611  0.240293
     50%    0.585617  0.249812
     75%    0.806623  0.259331
     max    1.027629  0.268851

In [ ]:
禁止分组键

In [52]:
tips.groupby('smoker', group_keys=False).apply(top)

NameError: name 'tips' is not defined

In [ ]:
分位数和桶分析

In [53]:
frame = pd.DataFrame({'data1': np.random.randn(1000),'data2': np.random.randn(1000)})
quartiles = pd.cut(frame.data1, 4)
quartiles[:10]

0    (-2.005, -0.238]
1    (-2.005, -0.238]
2    (-2.005, -0.238]
3     (-0.238, 1.529]
4    (-2.005, -0.238]
5     (-0.238, 1.529]
6     (-0.238, 1.529]
7    (-2.005, -0.238]
8     (-0.238, 1.529]
9     (-0.238, 1.529]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-3.778, -2.005] < (-2.005, -0.238] < (-0.238, 1.529] < (1.529, 3.295]]

In [58]:
def get_stats(group):return {'min': group.min(), 'max': group.max(),'count': group.count(), 'mean': group.mean()}
grouped = frame.data2.groupby(quartiles)
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-3.778, -2.005]   35.0  2.878097  0.067550 -2.526343
(-2.005, -0.238]  374.0  2.361553 -0.075558 -2.851689
(-0.238, 1.529]   529.0  3.782784 -0.025629 -2.605924
(1.529, 3.295]     62.0  2.259337 -0.021139 -2.051346

In [59]:
# Return quantile numbers
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.878097  0.014745 -2.526343
1      100.0  2.268887  0.015799 -2.166645
2      100.0  2.238133 -0.056944 -2.851689
3      100.0  2.253654 -0.191610 -2.015418
4      100.0  3.782784 -0.014563 -2.555743
5      100.0  3.367949  0.128075 -2.006209
6      100.0  2.227717  0.067979 -2.185053
7      100.0  3.615230 -0.184293 -2.498993
8      100.0  1.786671 -0.071064 -2.217699
9      100.0  3.294611 -0.115750 -2.605924

In [ ]:
示例：用特定于分组的值填充缺失值

In [60]:
s = pd.Series(np.random.randn(6))
s[:2] = np.nan
s

0         NaN
1         NaN
2    0.867633
3    1.868306
4    0.144635
5    1.588665
dtype: float64

In [61]:
s.fillna(s.mean())

0    1.117310
1    1.117310
2    0.867633
3    1.868306
4    0.144635
5    1.588665
dtype: float64

In [62]:
s.fillna(s.mean())

0    1.117310
1    1.117310
2    0.867633
3    1.868306
4    0.144635
5    1.588665
dtype: float64

In [63]:
states = ['Ohio', 'New York', 'Vermont', 'Florida','Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East'] * 4 + ['West'] * 4
data = pd.Series(np.random.randn(8), index=states)
data

Ohio          0.149135
New York     -0.967938
Vermont      -0.954781
Florida       0.350106
Oregon       -0.507371
Nevada        0.610772
California    0.489277
Idaho        -1.049012
dtype: float64

In [64]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

Ohio          0.149135
New York     -0.967938
Vermont            NaN
Florida       0.350106
Oregon       -0.507371
Nevada             NaN
California    0.489277
Idaho              NaN
dtype: float64

In [65]:
data.groupby(group_key).mean()

East   -0.156232
West   -0.009047
dtype: float64

In [66]:
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

Ohio          0.149135
New York     -0.967938
Vermont      -0.156232
Florida       0.350106
Oregon       -0.507371
Nevada       -0.009047
California    0.489277
Idaho        -0.009047
dtype: float64

In [67]:
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

Ohio          0.149135
New York     -0.967938
Vermont       0.500000
Florida       0.350106
Oregon       -0.507371
Nevada       -1.000000
California    0.489277
Idaho        -1.000000
dtype: float64

In [72]:
# Hearts, Spades, Clubs, Diamonds
suits = ['H', 'S', 'C', 'D']
card_val = (list(range(1, 11)) + [10] * 3) * 4
base_names = ['A'] + list(range(2, 11)) + ['J', 'K', 'Q']
cards = [] 
for suit in ['H', 'S', 'C', 'D']:
    
cards.extend(str(num) + suit for num in base_names)
deck = pd.Series(card_val, index=cards)

IndentationError: expected an indented block (<ipython-input-72-077058794577>, line 8)

In [73]:
deck[:13]

NameError: name 'deck' is not defined

In [75]:
def draw(deck, n=5):return deck.sample(n)
draw(deck)

NameError: name 'deck' is not defined

In [77]:
get_suit = lambda card: card[-1] 
# last letter is suit

deck.groupby(get_suit).apply(draw, n=2)

NameError: name 'deck' is not defined

In [ ]:
示例：分组加权平均数和相关系数

In [ ]:
然后可以利用category计算分组加权平均数：

In [78]:
grouped = df.groupby('category')
get_wavg = lambda g: np.average(g['data'],
weights=g['weights'])
grouped.apply(get_wavg)

KeyError: 'category'

In [84]:
import statsmodels.api as sm 
def regress(data, yvar, xvars):
Y = data[yvar]
X = data[xvars]
X['intercept'] = 1.
result = sm.OLS(Y, X).fit() 
return result.params

by_year.apply(regress, 'AAPL', ['SPX'])

IndentationError: expected an indented block (<ipython-input-84-2674066b6788>, line 3)

In [ ]:
10.4 透视表和交叉表
透 pivot table

In [85]:
tips.pivot_table(index=['day', 'smoker'])

NameError: name 'tips' is not defined

In [ ]:
pivot table
values
index
columns
aggfunc
fil_value
dropna
margins

In [ ]:
交叉表：crosstab

In [ ]:
交叉表（cross-tabulation，简称crosstab）是一种用于计算分组频率的特殊透视表。

    data

In [86]:
data

Ohio          0.149135
New York     -0.967938
Vermont            NaN
Florida       0.350106
Oregon       -0.507371
Nevada             NaN
California    0.489277
Idaho              NaN
dtype: float64

In [87]:
pd.crosstab(data.Nationality, data.Handedness, margins=True)

AttributeError: 'Series' object has no attribute 'Nationality'

In [ ]:
10.5 总结
掌握pandas数据分组工具既有助于数据清理，也有助于建模或统计分析工作。在第14
章，我们会看几个例子，对真实数据使用groupby。
在下一章，我们将关注时间序列数据。