In [ ]:
第11章 时间序列

In [1]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2019, 3, 14, 21, 21, 47, 726223)

In [2]:
now.year, now.month, now.day

(2019, 3, 14)

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
delta

datetime.timedelta(days=926, seconds=56700)

In [4]:
delta.days

926

In [5]:
delta.seconds

56700

In [6]:
from datetime import timedelta
start = datetime(2011, 1, 7)
start + timedelta(12)

datetime.datetime(2011, 1, 19, 0, 0)

In [7]:
stamp = datetime(2011, 1, 3)
str(stamp)

'2011-01-03 00:00:00'

In [8]:
stamp.strftime('%Y-%m-%d')

'2011-01-03'

In [9]:
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')

datetime.datetime(2011, 1, 3, 0, 0)

In [10]:
datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%m/%d/%Y') for x in datestrs]

[datetime.datetime(2011, 7, 6, 0, 0), datetime.datetime(2011, 8, 6, 0, 0)]

In [11]:
from dateutil.parser import parse
parse('2011-01-03')

datetime.datetime(2011, 1, 3, 0, 0)

In [12]:
parse('Jan 31, 1997 10:45 PM')

datetime.datetime(1997, 1, 31, 22, 45)

In [13]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [16]:
import pandas as pd
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00'], dtype='datetime64[ns]', freq=None)

In [17]:
idx = pd.to_datetime(datestrs + [None])
idx

DatetimeIndex(['2011-07-06 12:00:00', '2011-08-06 00:00:00', 'NaT'], dtype='datetime64[ns]', freq=None)

In [18]:
idx[2]

NaT

In [21]:
pd.isnull(idx)

array([False, False,  True])

In [30]:
import numpy as np
from datetime import datetime
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
datetime(2011, 1, 7), datetime(2011, 1, 8),
datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
ts

2011-01-02   -0.083925
2011-01-05   -0.417749
2011-01-07    0.677938
2011-01-08   -1.252325
2011-01-10   -0.516715
2011-01-12    0.445588
dtype: float64

In [31]:
ts.index

DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [32]:
ts + ts[::2]

2011-01-02   -0.167850
2011-01-05         NaN
2011-01-07    1.355877
2011-01-08         NaN
2011-01-10   -1.033429
2011-01-12         NaN
dtype: float64

In [33]:
ts.index.dtype

dtype('<M8[ns]')

In [35]:
stamp = ts.index[0]
stamp

Timestamp('2011-01-02 00:00:00')

In [36]:
stamp = ts.index[2]
ts[stamp]

0.6779384873240647

In [37]:
ts['1/10/2011']

-0.5167145307263669

In [38]:
ts['20110110']

-0.5167145307263669

In [40]:
longer_ts = pd.Series(np.random.randn(1000),
index=pd.date_range('1/1/2000',
periods=1000))
ts

2011-01-02   -0.083925
2011-01-05   -0.417749
2011-01-07    0.677938
2011-01-08   -1.252325
2011-01-10   -0.516715
2011-01-12    0.445588
dtype: float64

In [41]:
longer_ts

2000-01-01   -0.549493
2000-01-02   -0.748058
2000-01-03    2.274493
2000-01-04    0.909872
2000-01-05   -0.213379
2000-01-06    1.538597
2000-01-07    0.022464
2000-01-08   -1.841932
2000-01-09   -1.070025
2000-01-10   -1.829054
2000-01-11   -1.361235
2000-01-12    0.367829
2000-01-13    1.358087
2000-01-14   -1.393259
2000-01-15    0.090181
2000-01-16    2.081405
2000-01-17   -1.605785
2000-01-18   -1.089744
2000-01-19   -0.980080
2000-01-20    0.669124
2000-01-21    0.132654
2000-01-22    0.333572
2000-01-23   -0.438341
2000-01-24    0.163680
2000-01-25    0.471615
2000-01-26    0.038615
2000-01-27   -0.420864
2000-01-28    1.441008
2000-01-29   -0.342415
2000-01-30    0.816981
                ...
2002-08-28    0.815248
2002-08-29   -1.939579
2002-08-30   -1.116014
2002-08-31    0.304873
2002-09-01   -0.564869
2002-09-02   -0.311374
2002-09-03    0.125663
2002-09-04   -1.343259
2002-09-05    1.203048
2002-09-06   -1.547525
2002-09-07   -2.434812
2002-09-08   -1.946943
2002-09-09   -0.174754
2002-09-10    2.063655
2002-09-11   -1.902392
2002-09-12   -1.497623
2002-09-13   -0.723630
2002-09-14    0.668197
2002-09-15   -0.359016
2002-09-16   -1.493097
2002-09-17   -1.525472
2002-09-18   -0.170139
2002-09-19   -0.006610
2002-09-20   -0.935812
2002-09-21   -1.122575
2002-09-22   -1.298917
2002-09-23    0.535099
2002-09-24    0.184057
2002-09-25    0.424734
2002-09-26    1.217050
Freq: D, Length: 1000, dtype: float64

In [42]:
longer_ts['2001']

2001-01-01   -1.292159
2001-01-02    0.916535
2001-01-03   -0.392351
2001-01-04   -0.776595
2001-01-05   -1.340216
2001-01-06   -0.729462
2001-01-07    0.152964
2001-01-08    0.735718
2001-01-09    0.054053
2001-01-10    0.440413
2001-01-11    1.036191
2001-01-12    0.024155
2001-01-13    1.646508
2001-01-14    0.019799
2001-01-15    1.406000
2001-01-16   -0.647695
2001-01-17   -0.091280
2001-01-18   -1.543207
2001-01-19    0.008950
2001-01-20   -0.143640
2001-01-21    1.092336
2001-01-22   -0.045030
2001-01-23   -0.848556
2001-01-24   -0.132202
2001-01-25   -1.004946
2001-01-26   -0.710682
2001-01-27   -0.062073
2001-01-28   -0.507111
2001-01-29   -0.095804
2001-01-30    1.105990
                ...
2001-12-02    0.892549
2001-12-03   -0.074138
2001-12-04    0.527736
2001-12-05    0.402521
2001-12-06    0.996738
2001-12-07    0.555349
2001-12-08   -1.777618
2001-12-09    1.773189
2001-12-10    0.489482
2001-12-11   -1.878172
2001-12-12   -0.992988
2001-12-13    1.087226
2001-12-14   -0.026825
2001-12-15    1.078508
2001-12-16    1.976273
2001-12-17    0.058811
2001-12-18   -1.137959
2001-12-19    0.766857
2001-12-20    0.344314
2001-12-21    2.326733
2001-12-22    0.633495
2001-12-23   -0.164404
2001-12-24    0.503787
2001-12-25   -0.602945
2001-12-26    0.747959
2001-12-27   -0.395213
2001-12-28   -1.859430
2001-12-29    0.350908
2001-12-30    0.373988
2001-12-31    0.888031
Freq: D, Length: 365, dtype: float64

In [43]:
longer_ts['2001-05']

2001-05-01    0.760410
2001-05-02    0.510232
2001-05-03   -0.820134
2001-05-04   -1.075034
2001-05-05   -0.975386
2001-05-06    0.492181
2001-05-07   -0.508359
2001-05-08   -0.568795
2001-05-09   -0.786923
2001-05-10   -1.931861
2001-05-11   -1.002277
2001-05-12    0.640837
2001-05-13   -0.043130
2001-05-14   -0.380553
2001-05-15   -0.746930
2001-05-16   -1.030842
2001-05-17   -0.222148
2001-05-18    1.384536
2001-05-19   -0.661679
2001-05-20   -0.127562
2001-05-21   -0.677383
2001-05-22   -0.338314
2001-05-23    1.289288
2001-05-24   -2.005054
2001-05-25   -0.560409
2001-05-26    0.417458
2001-05-27   -0.583315
2001-05-28    0.975488
2001-05-29    1.412687
2001-05-30   -1.507881
2001-05-31   -0.543274
Freq: D, dtype: float64

In [44]:
ts[datetime(2011, 1, 7):]

2011-01-07    0.677938
2011-01-08   -1.252325
2011-01-10   -0.516715
2011-01-12    0.445588
dtype: float64

In [45]:
ts

2011-01-02   -0.083925
2011-01-05   -0.417749
2011-01-07    0.677938
2011-01-08   -1.252325
2011-01-10   -0.516715
2011-01-12    0.445588
dtype: float64

In [46]:
ts['1/6/2011':'1/11/2011']

2011-01-07    0.677938
2011-01-08   -1.252325
2011-01-10   -0.516715
dtype: float64

In [47]:
ts.truncate(after='1/9/2011')

2011-01-02   -0.083925
2011-01-05   -0.417749
2011-01-07    0.677938
2011-01-08   -1.252325
dtype: float64

In [48]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100, 4),
index=dates,
columns=['Colorado', 'Texas','New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texas  New York      Ohio
2001-05-02 -0.969049 -1.096403 -2.299814 -0.318436
2001-05-09 -0.081981 -1.334802 -1.016511 -1.454727
2001-05-16  0.212489 -1.448244  0.506194  0.095293
2001-05-23 -0.022369 -0.651313  2.469114  0.585541
2001-05-30  0.502159  0.317243 -0.856870 -1.092783

In [49]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000',
'1/2/2000','1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
dup_ts

2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int32

In [50]:
dup_ts.index.is_unique

False

In [51]:
dup_ts['1/3/2000'] # not duplicated

4

In [52]:
dup_ts['1/2/2000'] # duplicated

2000-01-02    1
2000-01-02    2
2000-01-02    3
dtype: int32

In [53]:
grouped = dup_ts.groupby(level=0)
grouped.mean()

2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int32

In [54]:
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [55]:
ts

2011-01-02   -0.083925
2011-01-05   -0.417749
2011-01-07    0.677938
2011-01-08   -1.252325
2011-01-10   -0.516715
2011-01-12    0.445588
dtype: float64

In [56]:
resampler = ts.resample('D')

In [59]:
index = pd.date_range('2012-04-01', '2012-06-01')
index

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
               '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
               '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
               '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
               '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
               '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
               '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
               '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
               '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
               '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
               '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
               '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [60]:
pd.date_range(start='2012-04-01', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [61]:
pd.date_range(end='2012-06-01', periods=20)

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

In [62]:
pd.date_range('2000-01-01', '2000-12-01', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [63]:
pd.date_range('2000-01-01', '2000-12-01', freq='BMS')

DatetimeIndex(['2000-01-03', '2000-02-01', '2000-03-01', '2000-04-03',
               '2000-05-01', '2000-06-01', '2000-07-03', '2000-08-01',
               '2000-09-01', '2000-10-02', '2000-11-01', '2000-12-01'],
              dtype='datetime64[ns]', freq='BMS')

In [64]:
pd.date_range('2000-01-01', '2000-12-01', freq='MS')

DatetimeIndex(['2000-01-01', '2000-02-01', '2000-03-01', '2000-04-01',
               '2000-05-01', '2000-06-01', '2000-07-01', '2000-08-01',
               '2000-09-01', '2000-10-01', '2000-11-01', '2000-12-01'],
              dtype='datetime64[ns]', freq='MS')

In [65]:
pd.date_range('2000-01-01', '2000-12-01', freq='B')

DatetimeIndex(['2000-01-03', '2000-01-04', '2000-01-05', '2000-01-06',
               '2000-01-07', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14',
               ...
               '2000-11-20', '2000-11-21', '2000-11-22', '2000-11-23',
               '2000-11-24', '2000-11-27', '2000-11-28', '2000-11-29',
               '2000-11-30', '2000-12-01'],
              dtype='datetime64[ns]', length=240, freq='B')

In [66]:
pd.date_range('2012-05-02 12:56:31', periods=5)

DatetimeIndex(['2012-05-02 12:56:31', '2012-05-03 12:56:31',
               '2012-05-04 12:56:31', '2012-05-05 12:56:31',
               '2012-05-06 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [67]:
pd.date_range('2012-05-02 12:56:31', periods=5,
normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [69]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
hour

In [71]:
four_hours = Hour(4)
four_hours

In [72]:
pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

In [73]:
Hour(2) + Minute(30)

In [74]:
pd.date_range('2000-01-01', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [79]:
rng = pd.date_range('2012-01-01', '2012-09-01', freq='WOM-3FRI')
list(rng)

[Timestamp('2012-01-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-02-17 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-03-16 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-04-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-05-18 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-06-15 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-07-20 00:00:00', freq='WOM-3FRI'),
 Timestamp('2012-08-17 00:00:00', freq='WOM-3FRI')]

In [77]:
list(rng)

NameError: name 'rng' is not defined

In [80]:
ts = pd.Series(np.random.randn(4),index=pd.date_range('1/1/2000', periods=4,freq='M'))
ts

2000-01-31    1.618014
2000-02-29   -0.647822
2000-03-31   -0.616709
2000-04-30   -0.109678
Freq: M, dtype: float64